In [4]:
%matplotlib notebook

In [5]:
#import Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os
import csv

In [6]:
#read files to be merged
data_file2019 = "Resources/census2019_data_cleaned.csv"
data_file2018 = "Resources/census2018_data_cleaned.csv"
data_file2017 = "Resources/census2017_data_cleaned.csv"
data_file2016 = "Resources/census2016_data_cleaned.csv"
data_file2015 = "Resources/census2015_data_cleaned.csv"
data_file2014 = "Resources/census2014_data_cleaned.csv"
data_file2013 = "Resources/census2013_data_cleaned.csv"
data_file2012 = "Resources/census2012_data_cleaned.csv"
data_file2011 = "Resources/census2011_data_cleaned.csv"

census2019_df = pd.read_csv(data_file2019)
census2018_df = pd.read_csv(data_file2018)
census2017_df = pd.read_csv(data_file2017)
census2016_df = pd.read_csv(data_file2016)
census2015_df = pd.read_csv(data_file2015)
census2014_df = pd.read_csv(data_file2014)
census2013_df = pd.read_csv(data_file2013)
census2012_df = pd.read_csv(data_file2012)
census2011_df = pd.read_csv(data_file2011)

In [7]:
census2018_df.head()

,Name,Household Income,Per Capita Income,Population,Median Age,Median Rent,Average Year Home Built,Median Mortgage Cost,state,Zipcode
0,ZCTA5 01001,62144,35135,17621,46.1,921,1967,1556,MA,1001
1,ZCTA5 01002,55858,29499,30066,23.4,1232,1973,2248,MA,1002
2,ZCTA5 01003,2499,4590,11238,20.0,0,1972,0,MA,1003
3,ZCTA5 01005,68278,35190,4991,48.1,819,1968,1597,MA,1005
4,ZCTA5 01007,93300,42021,14967,44.0,874,1984,1832,MA,1007

In [8]:
census2019_df = census2019_df.rename(columns = {"Household Income": "2019 Household Income",
                                               "Per Capita Income": "2019 Per Capita Income",
                                               "Population": "2019 Population",
                                               "Median Age": "2019 Median Age",
                                               "Median Rent": "2019 Median Rent",
                                               "Average Year Home Built": "2019 Avg Year Home Built",
                                               "Median Mortgage Cost": "2019 Median Mortgage Cost",
                                               "state": "2019 state"})
census2019_df.head()

,Name,2019 Household Income,2019 Per Capita Income,2019 Population,2019 Median Age,2019 Median Rent,2019 Avg Year Home Built,2019 Median Mortgage Cost,2019 state,Zipcode
0,ZCTA5 01001,63949,36540,17312,46.1,1025,1968,1506,MA,1001
1,ZCTA5 01002,61159,30847,30014,23.4,1280,1973,2330,MA,1002
2,ZCTA5 01003,2499,4378,11357,19.9,0,1974,0,MA,1003
3,ZCTA5 01005,67302,37464,5128,48.1,831,1973,1555,MA,1005
4,ZCTA5 01007,91191,41753,15005,42.3,909,1983,1884,MA,1007

In [9]:
census2018_df = census2018_df.rename(columns = {"Household Income": "2018 Household Income",
                                               "Per Capita Income": "2018 Per Capita Income",
                                               "Population": "2018 Population",
                                               "Median Age": "2018 Median Age",
                                               "Median Rent": "2018 Median Rent",
                                               "Average Year Home Built": "2018 Avg Year Home Built",
                                                "Median Mortgage Cost": "2018 Median Mortgage Cost",
                                               "state": "2018 state"})

census2017_df = census2017_df.rename(columns = {"Household Income": "2017 Household Income",
                                               "Per Capita Income": "2017 Per Capita Income",
                                               "Population": "2017 Population",
                                               "Median Age": "2017 Median Age",
                                               "Median Rent": "2017 Median Rent",
                                               "Average Year Home Built": "2017 Avg Year Home Built",
                                                "Median Mortgage Cost": "2017 Median Mortgage Cost",
                                               "state": "2017 state"})

In [10]:
census2016_df = census2016_df.rename(columns = {"Household Income": "2016 Household Income",
                                               "Per Capita Income": "2016 Per Capita Income",
                                               "Population": "2016 Population",
                                               "Median Age": "2016 Median Age",
                                               "Median Rent": "2016 Median Rent",
                                               "Average Year Home Built": "2016 Avg Year Home Built",
                                                "Median Mortgage Cost": "2016 Median Mortgage Cost",
                                               "state": "2016 state"})

In [11]:
census2015_df = census2015_df.rename(columns = {"Household Income": "2015 Household Income",
                                               "Per Capita Income": "2015 Per Capita Income",
                                               "Population": "2015 Population",
                                               "Median Age": "2015 Median Age",
                                               "Median Rent": "2015 Median Rent",
                                               "Average Year Home Built": "2015 Avg Year Home Built",
                                                "Median Mortgage Cost": "2015 Median Mortgage Cost",
                                               "state": "2015 state"})

In [12]:
census2014_df = census2014_df.rename(columns = {"Household Income": "2014 Household Income",
                                               "Per Capita Income": "2014 Per Capita Income",
                                               "Population": "2014 Population",
                                               "Median Age": "2014 Median Age",
                                               "Median Rent": "2014 Median Rent",
                                               "Average Year Home Built": "2014 Avg Year Home Built",
                                                "Median Mortgage Cost": "2014 Median Mortgage Cost",
                                               "state": "2014 state"})

census2013_df = census2013_df.rename(columns = {"Household Income": "2013 Household Income",
                                               "Per Capita Income": "2013 Per Capita Income",
                                               "Population": "2013 Population",
                                               "Median Age": "2013 Median Age",
                                               "Median Rent": "2013 Median Rent",
                                               "Average Year Home Built": "2013 Avg Year Home Built",
                                                "Median Mortgage Cost": "2013 Median Mortgage Cost",
                                               "state": "2013 state"})

In [13]:
census2012_df = census2012_df.rename(columns = {"Household Income": "2012 Household Income",
                                               "Per Capita Income": "2012 Per Capita Income",
                                               "Population": "2012 Population",
                                               "Median Age": "2012 Median Age",
                                               "Median Rent": "2012 Median Rent",
                                               "Average Year Home Built": "2012 Avg Year Home Built",
                                                "Median Mortgage Cost": "2012 Median Mortgage Cost",
                                               "state": "2012 state"})

census2011_df = census2011_df.rename(columns = {"Household Income": "2011 Household Income",
                                               "Per Capita Income": "2011 Per Capita Income",
                                               "Population": "2011 Population",
                                               "Median Age": "2011 Median Age",
                                               "Median Rent": "2011 Median Rent",
                                               "Average Year Home Built": "2011 Avg Year Home Built",
                                                "Median Mortgage Cost": "2011 Median Mortgage Cost",
                                               "state": "2011 state"})

In [14]:
census2011_df.head()

,Name,2011 Household Income,2011 Per Capita Income,2011 Population,2011 Median Age,2011 Median Rent,2011 Avg Year Home Built,2011 Median Mortgage Cost,2011 state,Zipcode
0,ZCTA5 12852,50417,25336,504,57.0,475,1962,1109,NY,12852
1,ZCTA5 12853,39167,20647,1406,43.5,405,1965,1163,NY,12853
2,ZCTA5 12855,46458,22856,203,45.1,99,1967,1069,NY,12855
3,ZCTA5 12856,46250,54503,117,65.4,0,1944,0,NY,12856
4,ZCTA5 12857,52917,21907,467,48.6,593,1963,1125,NY,12857

In [15]:
#merging databases into one overall censuse database for 2011 thru 2019
merged_census_df = pd.merge(census2019_df, census2018_df, on="Name")
merged_census_df

,Name,2019 Household Income,2019 Per Capita Income,2019 Population,2019 Median Age,2019 Median Rent,2019 Avg Year Home Built,2019 Median Mortgage Cost,2019 state,Zipcode_x,2018 Household Income,2018 Per Capita Income,2018 Population,2018 Median Age,2018 Median Rent,2018 Avg Year Home Built,2018 Median Mortgage Cost,2018 state,Zipcode_y
0,ZCTA5 01001,63949,36540,17312,46.1,1025,1968,1506,MA,1001,62144,35135,17621,46.1,921,1967,1556,MA,1001
1,ZCTA5 01002,61159,30847,30014,23.4,1280,1973,2330,MA,1002,55858,29499,30066,23.4,1232,1973,2248,MA,1002
2,ZCTA5 01003,2499,4378,11357,19.9,0,1974,0,MA,1003,2499,4590,11238,20.0,0,1972,0,MA,1003
3,ZCTA5 01005,67302,37464,5128,48.1,831,1973,1555,MA,1005,68278,35190,4991,48.1,819,1968,1597,MA,1005
4,ZCTA5 01007,91191,41753,15005,42.3,909,1983,1884,MA,1007,93300,42021,14967,44.0,874,1984,1832,MA,1007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30161,ZCTA5 99921,52188,31807,1976,41.5,725,1988,1672,AK,99921,58571,34414,1986,41.4,775,1988,1706,AK,99921
30162,ZCTA5 99922,33750,18258,342,38.3,444,1976,0,AK,99922,34028,18213,330,39.5,425,1977,0,AK,99922
30163,ZCTA5 99925,62917,30321,908,45.2,546,1988,1536,AK,99925,57375,25840,927,43.6,525,1986,1400,AK,99925
30164,ZCTA5 99926,56188,22267,1654,34.7,483,1978,897,AK,99926,53409,22453,1635,34.5,413,1978,1216,AK,99926
30165,ZCTA5 99929,53894,32286,2502,49.4,709,1975,1572,AK,99929,57583,31489,2484,49.5,687,1977,1498,AK,99929

In [16]:
merge2_census_df = pd.merge(merged_census_df, census2017_df, on="Name")
merge2_census_df.head()

,Name,2019 Household Income,2019 Per Capita Income,2019 Population,2019 Median Age,2019 Median Rent,2019 Avg Year Home Built,2019 Median Mortgage Cost,2019 state,Zipcode_x,...,Zipcode_y,2017 Household Income,2017 Per Capita Income,2017 Population,2017 Median Age,2017 Median Rent,2017 Avg Year Home Built,2017 Median Mortgage Cost,2017 state,Zipcode
0,ZCTA5 01001,63949,36540,17312,46.1,1025,1968,1506,MA,1001,...,1001,57694,33135,17537,45.8,881,1968,1516,MA,1001
1,ZCTA5 01002,61159,30847,30014,23.4,1280,1973,2330,MA,1002,...,1002,52379,27657,30280,23.6,1170,1971,2222,MA,1002
2,ZCTA5 01003,2499,4378,11357,19.9,0,1974,0,MA,1003,...,1003,2499,4370,11131,19.9,0,1975,0,MA,1003
3,ZCTA5 01005,67302,37464,5128,48.1,831,1973,1555,MA,1005,...,1005,70325,35334,5014,45.4,777,1961,1612,MA,1005
4,ZCTA5 01007,91191,41753,15005,42.3,909,1983,1884,MA,1007,...,1007,86165,39308,14906,43.8,831,1983,1746,MA,1007

In [17]:
merge3_census_df = pd.merge(merge2_census_df, census2016_df, on="Name")
merge3_census_df.head()

,Name,2019 Household Income,2019 Per Capita Income,2019 Population,2019 Median Age,2019 Median Rent,2019 Avg Year Home Built,2019 Median Mortgage Cost,2019 state,Zipcode_x,...,Zipcode_x,2016 Household Income,2016 Per Capita Income,2016 Population,2016 Median Age,2016 Median Rent,2016 Avg Year Home Built,2016 Median Mortgage Cost,2016 state,Zipcode_y
0,ZCTA5 01001,63949,36540,17312,46.1,1025,1968,1506,MA,1001,...,1001,56714,30430,17423,45.0,835,1969,1489,MA,1001
1,ZCTA5 01002,61159,30847,30014,23.4,1280,1973,2330,MA,1002,...,1002,48923,26072,29970,23.2,1108,1971,2146,MA,1002
2,ZCTA5 01003,2499,4378,11357,19.9,0,1974,0,MA,1003,...,1003,2499,3829,11296,19.9,1150,1971,0,MA,1003
3,ZCTA5 01005,67302,37464,5128,48.1,831,1973,1555,MA,1005,...,1005,70568,32169,5228,44.1,761,1971,1645,MA,1005
4,ZCTA5 01007,91191,41753,15005,42.3,909,1983,1884,MA,1007,...,1007,80502,36359,14888,42.5,787,1982,1768,MA,1007

In [18]:
merge4_census_df = pd.merge(merge3_census_df, census2015_df, on="Name")
merge4_census_df.head()

,Name,2019 Household Income,2019 Per Capita Income,2019 Population,2019 Median Age,2019 Median Rent,2019 Avg Year Home Built,2019 Median Mortgage Cost,2019 state,Zipcode_x,...,Zipcode_y,2015 Household Income,2015 Per Capita Income,2015 Population,2015 Median Age,2015 Median Rent,2015 Avg Year Home Built,2015 Median Mortgage Cost,2015 state,Zipcode
0,ZCTA5 01001,63949,36540,17312,46.1,1025,1968,1506,MA,1001,...,1001,60161.0,30044,17438,44.5,809.0,1969,1561.0,MA,1001
1,ZCTA5 01002,61159,30847,30014,23.4,1280,1973,2330,MA,1002,...,1002,50540.0,26130,29780,23.4,1036.0,1971,2093.0,MA,1002
2,ZCTA5 01003,2499,4378,11357,19.9,0,1974,0,MA,1003,...,1003,NaN,3855,11241,19.9,1448.0,1959,0.0,MA,1003
3,ZCTA5 01005,67302,37464,5128,48.1,831,1973,1555,MA,1005,...,1005,68786.0,30325,5201,43.3,777.0,1964,1586.0,MA,1005
4,ZCTA5 01007,91191,41753,15005,42.3,909,1983,1884,MA,1007,...,1007,76881.0,34278,14838,42.2,778.0,1982,1775.0,MA,1007

In [19]:
merge5_census_df = pd.merge(merge4_census_df, census2014_df, on="Name")
merge5_census_df.head()

,Name,2019 Household Income,2019 Per Capita Income,2019 Population,2019 Median Age,2019 Median Rent,2019 Avg Year Home Built,2019 Median Mortgage Cost,2019 state,Zipcode_x,...,Zipcode_x,2014 Household Income,2014 Per Capita Income,2014 Population,2014 Median Age,2014 Median Rent,2014 Avg Year Home Built,2014 Median Mortgage Cost,2014 state,Zipcode_y
0,ZCTA5 01001,63949,36540,17312,46.1,1025,1968,1506,MA,1001,...,1001,60775,29444,17141,44.3,800,1967,1586,MA,1001
1,ZCTA5 01002,61159,30847,30014,23.4,1280,1973,2330,MA,1002,...,1002,55082,26668,29844,23.0,1026,1972,2094,MA,1002
2,ZCTA5 01005,67302,37464,5128,48.1,831,1973,1555,MA,1005,...,1005,68361,29004,5113,42.7,753,1965,1642,MA,1005
3,ZCTA5 01007,91191,41753,15005,42.3,909,1983,1884,MA,1007,...,1007,74221,33213,14774,41.8,755,1983,1795,MA,1007
4,ZCTA5 01008,76333,40146,1140,54.0,0,1962,1581,MA,1008,...,1008,71979,32402,1212,47.8,625,1965,1665,MA,1008

In [20]:
merge6_census_df = pd.merge(merge5_census_df, census2013_df, on="Name")
merge6_census_df.head()

,Name,2019 Household Income,2019 Per Capita Income,2019 Population,2019 Median Age,2019 Median Rent,2019 Avg Year Home Built,2019 Median Mortgage Cost,2019 state,Zipcode_x,...,Zipcode_y,2013 Household Income,2013 Per Capita Income,2013 Population,2013 Median Age,2013 Median Rent,2013 Avg Year Home Built,2013 Median Mortgage Cost,2013 state,Zipcode
0,ZCTA5 01001,63949,36540,17312,46.1,1025,1968,1506,MA,1001,...,1001,58733,28457,17245,43.7,802,1967,1581,MA,1001
1,ZCTA5 01002,61159,30847,30014,23.4,1280,1973,2330,MA,1002,...,1002,54422,27691,29266,22.9,1038,1972,2079,MA,1002
2,ZCTA5 01005,67302,37464,5128,48.1,831,1973,1555,MA,1005,...,1005,68644,31686,5356,42.2,761,1968,1658,MA,1005
3,ZCTA5 01007,91191,41753,15005,42.3,909,1983,1884,MA,1007,...,1007,71875,32222,14673,41.3,743,1982,1839,MA,1007
4,ZCTA5 01008,76333,40146,1140,54.0,0,1962,1581,MA,1008,...,1008,71635,32457,1144,47.1,240,1962,1561,MA,1008

In [21]:
merge7_census_df = pd.merge(merge6_census_df, census2012_df, on="Name")
merge7_census_df.head()

,Name,2019 Household Income,2019 Per Capita Income,2019 Population,2019 Median Age,2019 Median Rent,2019 Avg Year Home Built,2019 Median Mortgage Cost,2019 state,Zipcode_x,...,Zipcode_x,2012 Household Income,2012 Per Capita Income,2012 Population,2012 Median Age,2012 Median Rent,2012 Avg Year Home Built,2012 Median Mortgage Cost,2012 state,Zipcode_y
0,ZCTA5 01001,63949,36540,17312,46.1,1025,1968,1506,MA,1001,...,1001,63682,29158,17380,42.9,777,1964,1549,MA,1001
1,ZCTA5 01002,61159,30847,30014,23.4,1280,1973,2330,MA,1002,...,1002,56175,28205,28718,22.8,993,1972,2174,MA,1002
2,ZCTA5 01005,67302,37464,5128,48.1,831,1973,1555,MA,1005,...,1005,75856,32604,5120,41.5,622,1969,1797,MA,1005
3,ZCTA5 01007,91191,41753,15005,42.3,909,1983,1884,MA,1007,...,1007,77617,33195,14593,39.8,758,1982,1890,MA,1007
4,ZCTA5 01008,76333,40146,1140,54.0,0,1962,1581,MA,1008,...,1008,78313,33399,1160,46.7,0,1958,1581,MA,1008

In [22]:
merge8_census_df = pd.merge(merge7_census_df, census2011_df, on="Name")
merge8_census_df.head()

,Name,2019 Household Income,2019 Per Capita Income,2019 Population,2019 Median Age,2019 Median Rent,2019 Avg Year Home Built,2019 Median Mortgage Cost,2019 state,Zipcode_x,...,Zipcode_y,2011 Household Income,2011 Per Capita Income,2011 Population,2011 Median Age,2011 Median Rent,2011 Avg Year Home Built,2011 Median Mortgage Cost,2011 state,Zipcode
0,ZCTA5 01001,63949,36540,17312,46.1,1025,1968,1506,MA,1001,...,1001,59453,28931,16775,44.1,768,1963,1606,MA,1001
1,ZCTA5 01002,61159,30847,30014,23.4,1280,1973,2330,MA,1002,...,1002,54395,30110,27684,23.8,966,1972,2133,MA,1002
2,ZCTA5 01005,67302,37464,5128,48.1,831,1973,1555,MA,1005,...,1005,74167,33510,5045,42.8,723,1965,1846,MA,1005
3,ZCTA5 01007,91191,41753,15005,42.3,909,1983,1884,MA,1007,...,1007,75502,32898,14479,40.5,662,1983,1858,MA,1007
4,ZCTA5 01008,76333,40146,1140,54.0,0,1962,1581,MA,1008,...,1008,78563,36374,1196,47.0,675,1960,1615,MA,1008

In [23]:
#creating a dictionary
region = {
    'West': ["AK", "HI", "CA", "NV", "OR", "WA", "ID", "MT", "CO", "WY", "UT", "AZ", "NM"],

    'Midwest': ["ND", "SD", "NE", "KS", "MN", "IA", "MO", "WI", "IL", "MI", "IN", "OH"],

    'South': ["TX", "OK", "AR", "LA", "AL", "MI", "GA", "FL", "KY", "TN", "NC", "SC", "VA", "WV"],

    'Northeast' : ["ME", "NH", "VT", "MA", "CT", "RI", "NY", "PA", "NJ", "MD", "DE", "DC"]
 }

In [24]:
merge8_census_df['Region'] = ''

In [25]:
merge8_census_df.loc[(merge8_census_df['2019 state'].isin(region['West'])),'Region'] ='West'
merge8_census_df.loc[(merge8_census_df['2019 state'].isin(region['Midwest'])),'Region']='Midwest'
merge8_census_df.loc[(merge8_census_df['2019 state'].isin(region['South'])),'Region']='South'
merge8_census_df.loc[(merge8_census_df['2019 state'].isin(region['Northeast'])),'Region']='Northeast'
merge8_census_df

,Name,2019 Household Income,2019 Per Capita Income,2019 Population,2019 Median Age,2019 Median Rent,2019 Avg Year Home Built,2019 Median Mortgage Cost,2019 state,Zipcode_x,...,2011 Household Income,2011 Per Capita Income,2011 Population,2011 Median Age,2011 Median Rent,2011 Avg Year Home Built,2011 Median Mortgage Cost,2011 state,Zipcode,Region
0,ZCTA5 01001,63949,36540,17312,46.1,1025,1968,1506,MA,1001,...,59453,28931,16775,44.1,768,1963,1606,MA,1001,Northeast
1,ZCTA5 01002,61159,30847,30014,23.4,1280,1973,2330,MA,1002,...,54395,30110,27684,23.8,966,1972,2133,MA,1002,Northeast
2,ZCTA5 01005,67302,37464,5128,48.1,831,1973,1555,MA,1005,...,74167,33510,5045,42.8,723,1965,1846,MA,1005,Northeast
3,ZCTA5 01007,91191,41753,15005,42.3,909,1983,1884,MA,1007,...,75502,32898,14479,40.5,662,1983,1858,MA,1007,Northeast
4,ZCTA5 01008,76333,40146,1140,54.0,0,1962,1581,MA,1008,...,78563,36374,1196,47.0,675,1960,1615,MA,1008,Northeast
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29521,ZCTA5 99921,52188,31807,1976,41.5,725,1988,1672,AK,99921,...,54271,26592,2100,37.1,567,1984,1441,AK,99921,West
29522,ZCTA5 99922,33750,18258,342,38.3,444,1976,0,AK,99922,...,35156,21165,431,34.2,342,1976,812,AK,99922,West
29523,ZCTA5 99925,62917,30321,908,45.2,546,1988,1536,AK,99925,...,43125,25558,689,47.9,575,1981,1000,AK,99925,West
29524,ZCTA5 99926,56188,22267,1654,34.7,483,1978,897,AK,99926,...,45216,21301,1488,33.3,387,1979,745,AK,99926,West
29525,ZCTA5 99929,53894,32286,2502,49.4,709,1975,1572,AK,99929,...,50286,29918,2321,44.1,668,1976,1468,AK,99929,West

In [26]:
merge8_census_df.dtypes

Name                          object
2019 Household Income          int64
2019 Per Capita Income         int64
2019 Population                int64
2019 Median Age              float64
                              ...
2011 Avg Year Home Built       int64
2011 Median Mortgage Cost      int64
2011 state                    object
Zipcode                        int64
Region                        object
Length: 83, dtype: object

In [27]:
#Obtain mean Household Income per region
#grouped_regions_df = merge8_census_df.groupby(["Region"])[["2019 Household Income","2018 Household Income", "2017 Household Income", "2016 Household Income","2015 Household Income", "2014 Household Income", "2013 Household Income","2012 Household Income","2011 Household Income"]]
#grouped_regions_df.mean()

In [28]:
grouped_regions_df = merge8_census_df.groupby(['Region'])
grouped_regions_df['2019 Household Income'].mean()

Region
             41283.332425
Midwest      60266.734592
Northeast    74515.450152
South        53919.773403
West         65664.624277
Name: 2019 Household Income, dtype: float64

In [29]:
grouped_regions_df = merge8_census_df.groupby(['Region'])
grouped_regions_df["2018 Household Income"].mean()

Region
             39987.049046
Midwest      58223.910343
Northeast    71948.318457
South        51811.061772
West         62883.869736
Name: 2018 Household Income, dtype: float64

In [30]:
grouped_regions_df = merge8_census_df.groupby(['Region'])
grouped_regions_df["2017 Household Income"].mean()

Region
             38592.389646
Midwest      56204.208526
Northeast    69215.765746
South        49869.136701
West         60160.470479
Name: 2017 Household Income, dtype: float64

In [31]:
grouped_regions_df = merge8_census_df.groupby(['Region'])
grouped_regions_df["2016 Household Income"].mean()

Region
             37212.950954
Midwest      54244.568460
Northeast    66801.393398
South        48086.568501
West         57540.044178
Name: 2016 Household Income, dtype: float64

In [32]:
grouped_regions_df = merge8_census_df.groupby(['Region'])
grouped_regions_df["2015 Household Income"].mean()

Region
             36611.090909
Midwest      52943.441869
Northeast    65300.519641
South        47073.736933
West         56186.132472
Name: 2015 Household Income, dtype: float64

In [33]:
grouped_regions_df = merge8_census_df.groupby(['Region'])
grouped_regions_df["2014 Household Income"].mean()

Region
             36113.632153
Midwest      52208.866643
Northeast    64582.625800
South        46593.132483
West         55533.246284
Name: 2014 Household Income, dtype: float64

In [34]:
grouped_regions_df = merge8_census_df.groupby(['Region'])
grouped_regions_df["2013 Household Income"].mean()

Region
             35809.196185
Midwest      51327.676167
Northeast    63851.761199
South        46145.605263
West         54912.022915
Name: 2013 Household Income, dtype: float64

In [35]:
grouped_regions_df = merge8_census_df.groupby(['Region'])
grouped_regions_df["2012 Household Income"].mean()

Region
             35488.675749
Midwest      50996.783874
Northeast    63450.882452
South        45986.515368
West         54864.129851
Name: 2012 Household Income, dtype: float64

In [36]:
grouped_regions_df = merge8_census_df.groupby(['Region'])
grouped_regions_df["2011 Household Income"].mean()

Region
             35240.547684
Midwest      50451.614179
Northeast    62777.812732
South        45746.134994
West         54819.177126
Name: 2011 Household Income, dtype: float64

In [37]:
grouped_regions_df = merge8_census_df.groupby(['Region'])
grouped_regions_df['2019 Median Rent'].mean()

Region
             413.531335
Midwest      517.426434
Northeast    848.689121
South        597.152069
West         887.375310
Name: 2019 Median Rent, dtype: float64

In [38]:
grouped_regions_df = merge8_census_df.groupby(['Region'])
grouped_regions_df['2018 Median Rent'].mean()

Region
             411.566757
Midwest      504.171120
Northeast    828.914786
South        579.771093
West         855.430429
Name: 2018 Median Rent, dtype: float64

In [39]:
grouped_regions_df = merge8_census_df.groupby(['Region'])
grouped_regions_df['2017 Median Rent'].mean()

Region
             411.223433
Midwest      489.998575
Northeast    803.001852
South        559.581258
West         820.857762
Name: 2017 Median Rent, dtype: float64

In [40]:
grouped_regions_df = merge8_census_df.groupby(['Region'])
grouped_regions_df['2016 Median Rent'].mean()

Region
             400.618529
Midwest      479.621304
Northeast    783.335466
South        544.842808
West         793.296449
Name: 2016 Median Rent, dtype: float64

In [41]:
grouped_regions_df = merge8_census_df.groupby(['Region'])
grouped_regions_df['2015 Median Rent'].mean()

Region
             404.675978
Midwest      478.317032
Northeast    779.894323
South        540.899119
West         788.800042
Name: 2015 Median Rent, dtype: float64

In [42]:
grouped_regions_df = merge8_census_df.groupby(['Region'])
grouped_regions_df['2014 Median Rent'].mean()

Region
             393.166213
Midwest      467.198432
Northeast    759.406871
South        527.822419
West         765.196532
Name: 2014 Median Rent, dtype: float64

In [43]:
grouped_regions_df = merge8_census_df.groupby(['Region'])
grouped_regions_df['2013 Median Rent'].mean()

Region
             386.084469
Midwest      454.040138
Northeast    741.737959
South        514.260446
West         751.064822
Name: 2013 Median Rent, dtype: float64

In [44]:
grouped_regions_df = merge8_census_df.groupby(['Region'])
grouped_regions_df['2012 Median Rent'].mean()

Region
             387.294278
Midwest      456.650635
Northeast    750.144156
South        513.845018
West         750.843518
Name: 2012 Median Rent, dtype: float64

In [45]:
grouped_regions_df = merge8_census_df.groupby(['Region'])
grouped_regions_df['2011 Median Rent'].mean()

Region
             372.926431
Midwest      442.900249
Northeast    726.327383
South        499.463740
West         729.596408
Name: 2011 Median Rent, dtype: float64

In [46]:
grouped_regions_df = merge8_census_df.groupby(['Region'])
grouped_regions_df['2019 Median Mortgage Cost'].mean()

Region
             1000.397820
Midwest      1189.539485
Northeast    1760.319299
South        1208.776517
West         1651.416598
Name: 2019 Median Mortgage Cost, dtype: float64

In [47]:
grouped_regions_df = merge8_census_df.groupby(['Region'])
grouped_regions_df['2018 Median Mortgage Cost'].mean()

Region
              996.776567
Midwest      1171.677829
Northeast    1737.293365
South        1185.773704
West         1603.103014
Name: 2018 Median Mortgage Cost, dtype: float64

In [48]:
grouped_regions_df = merge8_census_df.groupby(['Region'])
grouped_regions_df['2017 Median Mortgage Cost'].mean()

Region
              960.504087
Midwest      1147.774017
Northeast    1702.169754
South        1159.193552
West         1559.130264
Name: 2017 Median Mortgage Cost, dtype: float64

In [49]:
grouped_regions_df = merge8_census_df.groupby(['Region'])
grouped_regions_df['2016 Median Mortgage Cost'].mean()

Region
              950.160763
Midwest      1135.223014
Northeast    1681.941900
South        1141.409703
West         1530.882742
Name: 2016 Median Mortgage Cost, dtype: float64

In [50]:
grouped_regions_df = merge8_census_df.groupby(['Region'])
grouped_regions_df['2015 Median Mortgage Cost'].mean()

Region
              947.625000
Midwest      1145.814453
Northeast    1696.981501
South        1151.869427
West         1556.463441
Name: 2015 Median Mortgage Cost, dtype: float64

In [51]:
grouped_regions_df = merge8_census_df.groupby(['Region'])
grouped_regions_df['2014 Median Mortgage Cost'].mean()

Region
              957.915531
Midwest      1155.409809
Northeast    1709.911250
South        1161.904681
West         1569.050991
Name: 2014 Median Mortgage Cost, dtype: float64

In [52]:
grouped_regions_df = merge8_census_df.groupby(['Region'])
grouped_regions_df['2013 Median Mortgage Cost'].mean()

Region
              944.455041
Midwest      1154.479040
Northeast    1716.034523
South        1165.725492
West         1585.743807
Name: 2013 Median Mortgage Cost, dtype: float64

In [53]:
grouped_regions_df = merge8_census_df.groupby(['Region'])
grouped_regions_df['2012 Median Mortgage Cost'].mean()

Region
              955.010899
Midwest      1164.555278
Northeast    1730.910744
South        1177.150362
West         1623.182907
Name: 2012 Median Mortgage Cost, dtype: float64

In [54]:
grouped_regions_df = merge8_census_df.groupby(['Region'])
grouped_regions_df['2011 Median Mortgage Cost'].mean()

Region
              939.332425
Midwest      1157.068044
Northeast    1717.567531
South        1171.917537
West         1631.654005
Name: 2011 Median Mortgage Cost, dtype: float64

In [57]:
# Creating x and y axis lists for rent
time = np.arange( 2011, 2019, 1)
northeast_rent =[726.33, 750.14, 741.74, 759.41, 779.89, 783.34, 803.00, 828.91, 848.69]
south_rent = [499.46, 513.85, 514.26,527.82, 540.90, 544.84, 559.58, 579.77, 597.15]
midwest_rent = [442.90, 456.65, 454.04, 467.20, 478.32, 479.62, 490.00, 504.17, 517.43]
west_rent = [729.60, 750.84, 751.06, 765.20, 788.80, 793.30, 820.86, 855.43, 887.38]

In [59]:
#plotting the chart and applying some styling
northeast_rent, = plt.plot(time, northeast_rent, color="blue", label="Northeast")
south_rent, = plt.plot(time, south_rent, color="red", label="South" )
midwest_rent, = plt.plot(time, midwest_rent, color="green", label="Midwest")
west_rent, =plt.plot(time, west_rent, color="orange", label="West")

ValueError: x and y must have same first dimension, but have shapes (8,) and (9,)

In [ ]:
# Creating x and y axis lists for mortgage
national_mortgage = [1349.95, 1355.34, 1339.35, 1334.52, 1322.84, 1309.87, 1328,28, 1385.79, 1384.24]
northeast_mortgage = [1717.57, 1730.91, 1716.03, 1709.91, 1696.98, 1681.94, 1702.17, 1737.29, 1760.32]
south_mortgage = [1171.92, 1177.15, 1165.73, 1161.90, 1151.87, 1141.41, 1159.19, 1185.77, 1208.78]
midwest_mortgage = [1157.07, 1164.56, 1154.48, 1155.41, 1145.81, 1135.22, 1147.77, 1171.68, 1189.54]
west_mortgage = [1631.65, 1623.18, 1585.74, 1596.05, 1556.46, 1530.88, 1559.13, 1603.10, 1651.42]

In [ ]:
national_mortgage, = plt.plot(time, national_mortgage, color="black", label="National")
northeast_mortgage, = plt.plot(time, northeast_mortgage, color="blue", label="Northeast")
south_mortgage, = plt.plot(time, south_mortgage, color="red", label="South")
midwest_mortgage, = plt.plot(time, midwest_mortgage, color="green", label="Midwest")
west_mortgage, = plt.plot(time, west_mortgage, color="orange", label="West")

In [ ]:
# Creating x and y axis lists for household income
national_income = [51871.35, 52253.72, 52494.19, 53149.11, 53785.27, 55022.39, 57114.97, 59359.49, 61641.76 ]
northeast_income = [62777.81, 63450.88, 63851.76, 64582.63, 65300.52, 66801.39, 69215.77, 71948.32, 74515.45]
south_income = [45746.13, 45986.52, 46145.61, 46593.13, 47073.74, 48086.57, 49869.14, 51811.06, 53919.77]
midwest_income = [50451.61, 50996.78, 51327.68, 52208.87,52943.44, 54244.57, 56204.21, 58223.91, 60266.74]
west_income = [54819.18, 54864.13, 54912.02, 55533.25, 56186.13, 57540.04, 60160.47, 62883.87, 65664.62]

In [ ]:
national_income, = plt.plot(time, national_income, color="black", label="National")
northeast_income, = plt.plot(time, northeast_income, color="blue", label="Northeast")
south_income, = plt.plot(time, south_income, color="red", label="South")
midwest_income, = plt.plot(time, midwest_income, color="green", label="Midwest")
west_mortgage, = plt.plot(time, west_income, color="orange", label="West")

In [56]:
#saved merged census files 
merge8_census_df.to_csv("revisedfinal2_merge_census_database.csv", encoding="utf-8", index=False)